@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Hero {
  background-color: #000;
  color: #fff;
  height: 100vh;
  padding: 3rem;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
